.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

.idea/

*.dotCover

Thumbs.db
.DS_Store
ehthumbs.db
Icon?

*.log

*.env

**/docker-compose.override.yml
